{% extends 'website/base.html' %}
{% load wagtailimages_tags %}
{% block content %}

    <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">The Century Theater Blog</h1>
                    <p class="lead mb-0">Your place for Century Theater News, Movie Reviews, and More!</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    {% if featured_post %}
                        {% for post in featured_post %}
                        <div class="card mb-4">
                            <a href="{{ post.url }}">{% image post.featured_image fill-850x350-c75 class="card-img-top" %}</a>
                            <div class="card-body">
                                <div class="small text-muted">{{ post.post_date|date:"l F d, Y"  }}</div>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.content|striptags|safe|truncatewords:45 }}</p>
                                <a class="btn btn-primary" href="{{ post.url }}">Read more →</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <!-- Nested row for non-featured blog posts-->
                    {% for post in posts %}
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="row">
                        {% endif %}
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <a href="{{ post.url }}">{% image post.featured_image fill-700x350-c75 class="card-img-top" %}</a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post.post_date|date:"l F d, Y"  }}</div>
                                    <h2 class="card-title h4">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.content|striptags|safe|truncatewords:15 }}</p>
                                    <a class="btn btn-primary" href="{{ post.url }}">Read more →</a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% if False %}
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    {% include 'blog/partials/site_search_block.html' %}
                    <!-- Categories widget-->
                    {% include 'blog/partials/blog_categories_block.html' %}
                </div>
            </div>
        </div>

{% endblock %}