{% extends 'website/base.html' %}
{% load wagtailimages_tags wagtailroutablepage_tags  %}



{% block content %}

     <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ self.title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{ self.post_date|date:"l F d, Y"  }}{% if self.author %} by
                                <a href="{% routablepageurl routable_target "recent_posts_by_author" self.author.slug %}">{{ self.author.full_name }}</a>{% endif %}</div>
                            <!-- Post categories-->
                            {% for category in self.categories.all %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% routablepageurl routable_target "recent_posts_by_category" category.slug %}">{{ category.name }}</a>
                            {% endfor %}
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">{% image self.featured_image fill-900x400-c75 class="img-fluid rounded" %}</figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            {{ self.content|safe }}
                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    {% include 'blog/partials/site_search_block.html' %}
                    <!-- Categories widget-->
                    {% include 'blog/partials/blog_categories_block.html' %}
                </div>
            </div>
        </div>
{% endblock %}