{% extends 'website/base.html' %}
{% load wagtailimages_tags static %}

{% block extra_css %}

    <style type="text/css">
        .page_head{
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(0, 0, 0, 0.75);
            background-blend-mode: overlay;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            background-image: url('{% static 'assets/img/background-img.png' %}');
        }
        .card-roll{
            max-height:200px;
        }
    </style>
{% endblock %}

{% block content %}

    <!-- Page header with logo and tagline-->
        <header class="page_head py-5  border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder text-white">The Century Theater Blog</h1>
                    <p class="lead mb-0 text-white">Your place for Century Theater News, Movie Reviews, and More!</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    {% if featured_post %}
                        {% for post in featured_post %}
                        <div class="card mb-4">
                            {% image post.featured_image original format-webp as webp_image %}
                            <a href="{{ post.url }}" style="height:350px;width:100%;background-image:url('{{ webp_image.url }}');background-position: center center;background-size:cover;">
{#                                {% image post.featured_image height-350 format-webp-lossless class="card-img-top" %}#}
                            </a>
                            <div class="card-body">
                                <div class="small text-muted">{{ post.post_date|date:"l F d, Y"  }}</div>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.content|striptags|safe|truncatewords:45 }}</p>
                                <a class="btn btn-primary" href="{{ post.url }}">Read more →</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-6">
                            <div class="card mb-4">
                                {% image post.featured_image original format-webp as webp_image %}
                                <a href="{{ post.url }}"  style="height:350px;width:100%;background-image:url('{{ webp_image.url }}');background-position: center center;background-size:cover;">
{#                                    {% image post.featured_image height-350 format-webp-lossless class="card-img-top card-roll" %}#}
                                </a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ post.post_date|date:"l F d, Y"  }}</div>
                                    <h2 class="card-title h4">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.content|striptags|safe|truncatewords:15 }}</p>
                                    <a class="btn btn-primary" href="{{ post.url }}">Read more →</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                    {% if pagination.paginator.num_pages > 1 %}
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            {% if pagination.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ pagination.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
                            {% endif %}
                            {% for page_num in pagination.paginator.page_range %}
                            <li class="page-item {% if pagination.number == page_num %}active{% endif %}" aria-current="page"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endfor %}
                            {% if pagination.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ pagination.next_page_number }}">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    {% include 'blog/partials/site_search_block.html' %}
                    <!-- Categories widget-->
                    {% include 'blog/partials/blog_categories_block.html' %}
                    {% include 'blog/partials/blog_tags_block.html' %}
                </div>
            </div>
        </div>

{% endblock %}