{% load static wagtailimages_tags %}
<div class="container-fluid">
    <div class="row">
        {% for post in related_posts %}
        <div class="col-lg-3">
            <div class="card mb-4">
                <a href="{{ post.url }}">{% image post.featured_image fill-451x299-c50 class="card-img-top" %}</a>
                <div class="card-body">
                    <div class="small text-muted">{{ post.post_date|date:"l F d, Y"  }}</div>
                    <h2 class="card-title h4">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|striptags|safe|truncatewords:15 }}</p>
                    <a class="btn btn-primary" href="{{ post.url }}">Read more →</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>