{% load static wagtailimages_tags %}
<div class="container">
    <h2 class="mt-5 mb-5 text-center">Recent Blog Posts</h2>
    <div class="row">
        {% for post in post_row %}
        <div class="col-lg-4">
            <div class="card mb-4">
                {% image post.featured_image original format-webp as webp_image %}
                <a href="{{ post.url }}" style="height:200px;width:100%;background-image:url('{{ webp_image.url }}');background-position: center center;background-size:cover;">
                </a>
                <div class="card-body">
                    <div class="small text-muted">{{ post.post_date|date:"l F d, Y"  }}</div>
                    <h2 class="card-title h4">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|striptags|safe|truncatewords:15 }}</p>
                    <a class="btn btn-primary" href="{{ post.url }}">Read more →</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>