{% extends 'website/base.html' %}
{% load static wagtailimages_tags %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'assets/css/heroic_features_block.css' %}" rel="stylesheet" />
    <style>
    .parallax {
        /* Set a specific height */
        min-height: 500px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(0, 0, 0,  0.75);
        background-blend-mode: overlay;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .parallax > h1 {
        color:white;
        max-width: 800px;
        text-align:center;
    }
    .parallax > h2 {
        color: white;
        max-width: 800px;
        text-align:center;
    }

    </style>

{% endblock %}

{% block content %}
    {% image self.featured_image original as tmp_photo %}
    <div class="parallax" style="background-image:url('{{ tmp_photo.url }}')">
    <h1>{{ self.title }}</h1>
    <h2>{{ self.rating }}</h2>
    {% if self.links %}
        <div style="margin-top:50px;width:100%;max-width: 800px;display: flex;flex-direction: row; justify-content: space-evenly;">
            {% for link in self.links %}
            <a href="{{ link.link_page.url }}" class="btn btn-large {% if forloop.first %}btn-primary{% else %}btn-outline-light{% endif %}" >{{ link.link_text }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}