{% extends 'website/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}
{% image self.featured_image original as tmp_photo %}


{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet"/>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />

    <style>
    .embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: visible;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 75px;
    right: 10%;
    width: 40%;
    height: 40%;
    min-width: 280px;
    min-height: 163px;
    overflow: visible;
}
    </style>

{% endblock %}


{% block content %}
    <div class="parallax" style="background-image: url('{% static 'assets/img/background-img.png' %}');">
        <div class="col-md-12 d-flex mt-5 justify-content-center flex-column">
            <h1 class="text-center text-white">Now Playing at The Century Theater</h1>
            <h2 class="text-center text-white">{{ self.first_day_of_week }} - {{ self.last_day_of_week }}</h2>
        </div>
    </div>
    {% for movie in now_playing %}
        {% image movie.featured_image original as tmp_photo %}
        <div class="mt-5 mb-5" style="position:relative;height:600px;">
            <div style="position:absolute;top:0;left:0;height:600px;max-width:1600px;width:100%;background-color:rgba(0, 0, 0, .75);background-image:url('{{ tmp_photo.url }}');background-blend-mode:overlay;background-size:cover;border-bottom:solid thick black;overflow: visible;"></div>
                <div class="embed-youtube">
                    <iframe src="//www.youtube.com/embed/{{ movie.youtube_id }}" width="750" height="563"></iframe>
                </div>
        </div>
        {% endfor %}



   {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

{% endblock %}