{% extends 'website/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script>

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {% for movie in movies %}
                    { // this object will be "parsed" into an Event Object
                        title: '{{ movie }}{% if not movie.confirmed %} (Unconfirmed){% endif %}', // a property!
                        start: '{{ movie.open_date|date:"Y-m-d" }}', // a property!
                        end: '{{movie.last_day_for_calender|date:"Y-m-d" }}', // a property! ** see important note below about 'end' **
                        color: '{% if movie.confirmed %}darkgreen{% else %}darkblue{% endif %}',
                        borderColor: 'black'
                    },
                    {% endfor %}
                ]
            });
            calendar.render();
        });


    </script>

{% endblock %}

{% block content %}


    <div class="parallax" style="background-image: url('{% static 'assets/img/background-img.png' %}');">
        <div class="col-md-12 d-flex mt-5 justify-content-center flex-column">
            <h1 class="text-center text-white">Coming Soon</h1>
            <h2 class="text-center text-white"></h2>
        </div>
    </div>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md-4">
                <h2>Up Next:</h2>
                {% for movie in up_next %}
                <div class="card mt-4 mb-4">
                    {% image movie.featured_image fill-286x180 class="card-img-top" %}
                    <div class="card-body">
                        <div class="small text-muted">{{ movie.open_date|date:"l F d, Y" }}</div>
                        <h3 class="card-title h5">{{ movie.title }}</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% routablepageurl page 'movie_detail_page' movie.slug %}" class="btn btn-primary btn-sm">More Info</a>
                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="col-md-8">
                <div id='calendar'></div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}



{% endblock %}